@model SoCot_HC_FE.Models.Service
<link href="~/assets/css/formvalidation.min.css" rel="stylesheet" />

<form id="serviceForm">
    @Html.HiddenFor(model => model.ServiceId, new { id = "hidden_service_id" })
    @Html.HiddenFor(model => model.CreatedBy, new { id = "hidden_created_by" })
    @Html.HiddenFor(model => model.CreatedDate, new { id = "hidden_created_date" })
    @Html.HiddenFor(model => model.FacilityId, new { id = "hidden_facility_id" })
    @Html.HiddenFor(model => model.ServiceClassificationId, new { id = "hidden_service_classification_id" })

    <div class="mb-3 row">
        <label for="FacilityId" class="col-md-4 col-form-label"><span class="text-danger">*</span>Facility</label>
        <div class="col-md-8">
            @*@Html.EditorFor(model => model.FacilityId, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Systolic" } })*@
            @Html.DropDownList("FacilityId", new List<SelectListItem>(), null, new { @class = "form-control select2-searchable", id = "FacilitiesDropdown", @data_placeholder = "Select Facility" })
            <span class="text-danger inputValError" data-valmsg-for="FacilityId"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="ServiceClassificationId" class="col-md-4 col-form-label"><span class="text-danger">*</span>Service Classification</label>
        <div class="col-md-8">
            @Html.DropDownList("ServiceClassificationId", new List<SelectListItem>(), null, new { @class = "form-control select2-searchable", id = "ServiceClassificationDropdown", @data_placeholder = "Select Service Classification" })
            <span class="text-danger inputValError" data-valmsg-for="ServiceClassificationId"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="ServiceName" class="col-md-4 col-form-label"><span class="text-danger">*</span>Service Name</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Service name" } })
            <span class="text-danger inputValError" data-valmsg-for="ServiceName"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="Description" class="col-md-4 col-form-label"><span class="text-danger">*</span>Description</label>
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Enter Description", style = "width: 100%;" })
            <span class="text-danger inputValError" data-valmsg-for="Description"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-md-4 col-form-label">Active</label>
        <div class="col-md-8 d-flex align-items-center">
            @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input", id = "IsActiveCheckbox" })
        </div>
    </div>
</form>

@section scripts {
    <script src="~/Scripts/FormValidation.js"></script>
}